.first {
  border: 2px solid black;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.first .boxFirst {
  width: 400px;
  height: 100px;
  display: flex;
  margin-left: 100px;
}

.first .boxSecond {
  width: 400px;
  height: 100px;
  display: flex;
}
.first .boxFirst .box1 {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin-right: 60px;
  background-color: brown;
}
.first .boxFirst .box2 {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  background-color: red;
}

.first .boxSecond .box1 {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin-right: 60px;
  background-color: lightgreen;
}

.first .boxSecond .box2 {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  background-color: rgb(12, 186, 244);
}
